.body {
  display: flex;
  justify-content: flex-end;
}

.cutbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

.infoContainer {
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  gap: 20px;
}
