.pseudoCodeContainer {
    background-color: #2C98F0;  /* Light blue background */
    color: white;               /* White text */
    width: 90%;                /* Full width */
    height: fit-content;
    padding: 20px;              /* Some padding around the text */
    box-sizing: border-box;     /* Ensure padding doesn't increase the size */
    margin-top: 10px;           /* Space above the container */
    margin-bottom: 20px;
    white-space: normal;        /* Keep nodes in a single line */
  }
  
  .pseudoCodeContainer h3 {
    margin-top: 0;              /* Remove top margin of the heading */
  }

  .nestedList {
    list-style-type: none; /* or your preferred style */
    padding-left: 20px; /* adjust as needed */
  }
  
  .nestedList li {
    margin-bottom: 5px; /* adjust as needed */
  }