.gridContainer{
  display:flex;
  flex-direction: row;
}

.gridA {
  display: grid;
  margin: 5%;
  width: 90%;
  height: 90%;
  grid-gap: 0px;
}

.visualizeButton{
  margin: 2em;
  width: 4em;
  height: 2em;
  align-self: center;
}

.button-accent {
  padding: 10px 20px;
  background-color: #237bc2; /* Hellerer Blauton, der zum Hintergrund passt */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-accent:hover {
  background-color: #165b8c; /* Dunklerer Blauton für Hover-Effekt */
}
.button-reset {
  padding: 10px 20px;
  background-color: #2C98F0; /* Hellerer Blauton, der zum Hintergrund passt */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-reset:hover {
  background-color: #1A6CA7; /* Dunklerer Blauton für Hover-Effekt */
}


.shortestPathNodesContainer {
  background-color: #2C98F0;  /* Light blue background */
  color: white;               /* White text */
  width: 90%;                /* Full width */
  height: fit-content;
  align-self: center;
  padding: 20px;              /* Some padding around the text */
  box-sizing: border-box;     /* Ensure padding doesn't increase the size */
  margin-top: 10px;           /* Space above the container */
  margin-bottom: 20px;
  white-space: normal;        /* Keep nodes in a single line */
}

.shortestPathNodesContainer h3 {
  margin-top: 0;              /* Remove top margin of the heading */
}