.gridContainer{
  display:flex;
  flex-direction: row;
}

.gridA {
  display: grid;
  margin: 5%;
  width: 90%;
  height: 90%;
  grid-gap: 0px;
}

.visualizeButton{
  margin: 2em;
  width: 4em;
  height: 2em;
  align-self: center;
}

.button-accent {
  padding: 10px 20px;
  background-color: #237bc2; /* Hellerer Blauton, der zum Hintergrund passt */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-accent:hover {
  background-color: #165b8c; /* Dunklerer Blauton für Hover-Effekt */
}
.button-reset {
  padding: 10px 20px;
  background-color: #2C98F0; /* Hellerer Blauton, der zum Hintergrund passt */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-reset:hover {
  background-color: #1A6CA7; /* Dunklerer Blauton für Hover-Effekt */
}