.add-btn:disabled {
    background: gray;
    border-color: #696969;
}

.add-btn:disabled:hover {
    cursor: not-allowed;
}

.center {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1 {
    flex: 70%; /* 70% width */
    text-align: center;
}

.col-2 {
    width: 30%; /* 30% width */
    text-align: center;
}
.form{
    width: 40%;
}
