.btn-clear{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-style: none;
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease; 
}

.btn-clear:hover {
    background-color: #ce2536;
    transition: background-color 0.3s ease;
}

.btn{
    margin-left:10px;
    margin-right:10px;
}

.btn-primary.add-btn {
    background-color: #ffffff; /* 흰색 배경색 */
    border: 2px solid #2C98F0; /* 2C98F0 색상의 테두리 */
    color: #000000; /* 검정 글자색 */
    border-radius: 10px;
}

.add-btn:disabled {
    background: lightgrey;
    border-color: #2C98F0;
}

.add-btn:hover {
    background: lightgrey;
}

.add-btn:disabled:hover {
    cursor: not-allowed;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1 {
    flex: 100%; /* 70% width */
    text-align: center;
    background-color: #2C98F0; 
    display: flex;
    justify-content: center;
    align-items: center;
}   

.col-2 {
    flex: 100%; /* 70% width */
    text-align: center;
    background-color: #2C98F0; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.form{
    width: 100%;
    color: white;
    background-color: white;
    font-size: 16px;
}
.noticebar{
    background-color: #237bc2; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0px;
}


#input {
    background-color: white;
  }


.form-control {
    padding: 20px; /* 위아래 패딩 조절 */
    margin-right: 10px;
    background-color: white;
}

