.HomeLogo {
  width: 176px;
  height: 99px;
  border-radius: 20rem;
  margin: 1rem 1.5rem;
  background-color: #1a1a5b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
